{% extends 'base.html' %}

  {% block content %}
    <div class="container">
      <div class="py-5 text-center">
        <h2>Candidate Reference List</h2>
        <p class="lead">Entire Database</p>
      </div>
      <div class="row">
        <form method="post">
          {% csrf_token %}
          <button class="btn btn-primary btn-lg" type="submit" formmethod="post" name="cleardb">Clear Database</button>
          <button class="btn btn-primary btn-lg" type="submit" formmethod="post" name="backhome">Back To Home</button>
        </form>
      </div>
      <div class="row">
        <div class="col-md-12 order-md-1">
          <table class="table">
            {% for k,v in payl.items %}
              <tr>
              {% for x,d in v.items %}
                  <td>{{d}}</td>
              {% endfor %}
              </tr>
            <br>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  {% endblock %}